body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    text-align: center;
}

.judul {
    margin-top: 2rem;
}

.judul h1 {
    margin-bottom: 1rem;
}

.judul p {
    margin-bottom: 0;
}

.main {
    max-width: 600px !important;
}

.btn {
    display: inline-block;
    width: 7.5rem;
}

.main,
.wm {
    margin-top: auto;
}

.wm .wml {
    text-decoration: none;
}

.wm .wml:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
